// ******************  Home start  ] ***************
[data-page-name="homePage"] {
    @include media-breakpoint(basic) {
        & .cricketheader {
            box-shadow: 0px 0px 6px rgba($black, 0.1) !important;
            z-index: 1;
            & .navtab {
                & .nav-item {
                    & .nav-link {
                        font-size: 12px;
                        font-weight: 600;
                        transition: all 0.3s;
                        border-bottom: 2px solid transparent;
                        & .gameImg {
                            height: 20px;
                            & img {
                                filter: grayscale(1);
                                transition: all 0.3s;
                            }
                        }
                        & .gamesheading {
                            line-height: 100%;
                        }
                        &.active {
                            background: transparent;
                            border-color: $theme2;
                            color: $theme2 !important;
                            & .gameImg {
                                & img {
                                    filter: grayscale(0);
                                }
                            }
                        }
                        &:hover {
                            color: $theme2 !important;
                            & .gameImg {
                                & img {
                                    filter: grayscale(0);
                                }
                            }
                        }
                    }
                }
            }
        }

        & .tabContents {
            & .matchesCard {
                box-shadow: 0px 0px 6px rgba($black, 0.08);
                & .card-body {
                    & .teamHeadline {
                        & .matchteams,
                        & .notificationOut {
                            font-size: 11px;
                        }
                        & .notificationOut {
                            color: lighten($success, 5);
                        }
                        & .lineupsImg {
                            width: 18px;
                        }
                    }
                    & .innerBody {
                        & .leftSideTeams {
                            & .teamLogo {
                                &::before {
                                    left: -50%;
                                    transform: translate(0%, -50%);
                                    // background: rgba($warning, 0.3);
                                }
                            }
                        }
                        & .rightSideTeams {
                            & .teamLogo {
                                &::before {
                                    right: -50%;
                                    transform: translate(0%, -50%);
                                    // background: rgba($success, 0.3);
                                }
                            }
                        }
                        &.firstMatchBody {
                            & .leftSideTeams {
                                & .teamLogo {
                                    &::before {
                                        background: rgba($warning, 0.3);
                                    }
                                }
                            }
                            & .rightSideTeams {
                                & .teamLogo {
                                    &::before {
                                        background: rgba($success, 0.3);
                                    }
                                }
                            }
                        }
                        &.secondMatchBody {
                            & .leftSideTeams {
                                & .teamLogo {
                                    &::before {
                                        background: rgba($success, 0.3);
                                    }
                                }
                            }
                            & .rightSideTeams {
                                & .teamLogo {
                                    &::before {
                                        background: rgba($info, 0.4);
                                    }
                                }
                            }
                        }
                        &.threedMatchBody {
                            & .leftSideTeams {
                                & .teamLogo {
                                    &::before {
                                        background: rgba($info, 0.4);
                                    }
                                }
                            }
                            & .rightSideTeams {
                                & .teamLogo {
                                    &::before {
                                        background: rgba($warning, 0.3);
                                    }
                                }
                            }
                        }
                        & .firstTeamsName {
                            font-size: 12px;
                        }
                        & .team {
                            & .teamLogo {
                                width: 40px;
                                height: 40px;
                                z-index: 0;
                                &::before {
                                    content: "";
                                    height: 20px;
                                    width: 100%;
                                    position: absolute;
                                    top: 50%;
                                    z-index: -1;
                                }
                            }
                            & .teamName {
                                font-size: 10px;
                            }
                        }
                        & .matchTimer {
                            & .pichTime {
                                font-size: 10px;
                                color: $theme2;
                            }
                        }
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
    }

    @include media-breakpoint-down(xxl) {
    }

    @include media-breakpoint-down(xl) {
    }

    @include media-breakpoint-down(lg) {
    }

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
    }
}

// ! ***************** [ Home Page End ] ***********************

// ******************* [ Deposit Case Page ] ********************
[data-page-name="depositCasePage"] {
    @include media-breakpoint(basic) {
        & .depositForm {
            & .labelHeading {
                font-size: 14px;
            }
            & .form-control {
                font-size: 14px;
                border: 1.6px solid $theme2;
                // padding: 0.7rem 0.5rem;
            }
        }
        & .addOffer {
            background-color: lighten($theme1, 40);
            & .dipositAmount,
            & .diposituse {
                font-size: 12px;
            }
            & .selecotr-item {
                & .selector-item_radio {
                    appearance: none;
                    display: none;
                }
                & .selector-item_label {
                    transition-duration: 0.5s;
                    font-size: 12px;
                    transform: none;
                    cursor: pointer;
                    background-color: lighten($success, 7);
                }
                // & .selector-item_radio:checked + .selector-item_label {
                //     color: $white;
                //     border-color: $theme1;
                // }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
    }

    @include media-breakpoint-down(xxl) {
    }

    @include media-breakpoint-down(xl) {
    }

    @include media-breakpoint-down(lg) {
    }

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
    }
}

// ! ***************** [ Deposit Page End ] ***********************

// ******************  Home start  ] ***************
[data-page-name="pointSystemPage"] {
    @include media-breakpoint(basic) {
        & .cricketheader {
            box-shadow: 0px 0px 6px rgba($black, 0.1) !important;
            min-height: 54px;
            background-color: $theme1;
            z-index: 1;
            & .navtab {
                & .nav-item {
                    & .nav-link {
                        font-size: 12px;
                        font-weight: 600;
                        transition: all 0.3s;
                        border-bottom: 2px solid transparent;
                        &.active {
                            background: transparent;
                            border-color: $white;
                        }
                    }
                }
            }
        }
        & .tabContents {
            & .tab-pane {
                & .topPointHeading {
                    font-size: 12px;
                }
                & .pointAccirdion {
                    & .accordion-item {
                        & .accordion-header {
                            & .accordion-button {
                                font-size: 12px;
                                & .categoryIcone {
                                    width: 30px;
                                    height: 30px;
                                }
                                &::after {
                                    background-image: url(../svg/icons/downArrowAccordion.svg);
                                    background-position: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                        }
                        & .accordion-body {
                            background-color: $gray-300;
                            & .activitiValue,
                            & .activitiHeading {
                                font-size: 12px;
                            }
                            & .subheading {
                                font-size: 10px;
                                & span {
                                    line-height: 100%;
                                }
                            }
                            & .activitiValue {
                                color: darken($success, 0);
                            }
                        }
                    }
                }
                & .peraHeading {
                    font-size: 14px;
                    line-height: 100%;
                }
                & .peraContent {
                    font-size: 11px;
                    line-height: 100%;
                    & span {
                        line-height: 75%;
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
    }

    @include media-breakpoint-down(xxl) {
    }

    @include media-breakpoint-down(xl) {
    }

    @include media-breakpoint-down(lg) {
    }

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
    }
}

// ! ***************** [ Home Page End ] ***********************

// ****************** [ Change Password ] **************
[data-page-name="changePasswordPage"] {
    @include media-breakpoint(basic) {
        & .mainCenterPart {
            & .topPart {
                background-color: $theme1;
                height: 40%;
                & .imgOuter {
                    width: 160px;
                }
                & .title {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            & .formOuter {
                border-radius: 26px;
                margin-top: -112px;
                & form {
                    &.form {
                        & .tagLine {
                            font-size: 10px;
                        }
                        & .dividarTxt {
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
    }

    @include media-breakpoint-down(xxl) {
    }

    @include media-breakpoint-down(xl) {
    }

    @include media-breakpoint-down(lg) {
    }

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
    }
}

// ! **************** [Change Password End ] ********************

// ****************** [ Refer Friend Page ] **************
[data-page-name="referFriendPage"] {
    @include media-breakpoint(basic) {
        background-color: $gray-200;
        & .mainCenterPart {
            & .invite {
                font-size: 10px;
            }
            & .referValue {
                background-color: $theme1;
                font-size: 14px;
            }
        }
        & .referoffcanvas {
            border-radius: 14px 14px 0px 0px;
            & .offcanvas-header {
                & .underline {
                    & span {
                        height: 3px;
                        background-color: $black;
                        width: 70px;
                        cursor: pointer;
                    }
                }
            }
            & .offcanvas-body {
                background-color: $gray-300;
                // border-radius: 14px 14px 0px 0px;
                & .nodata {
                    font-size: 12px;
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
    }

    @include media-breakpoint-down(xxl) {
    }

    @include media-breakpoint-down(xl) {
    }

    @include media-breakpoint-down(lg) {
    }

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
    }
}

// ! **************** [Refer Friend Page End ] ********************

// ****************** [  Wallet Page ] **************
[data-page-name="walletPage"] {
    @include media-breakpoint(basic) {
        background-color: $gray-200;
        & .mainCenterPart {
            & .rupees {
                width: 50px;
                height: 50px;
                font-size: 18px;
                background-color: lighten($danger, 8);
            }
            & .balance {
                font-size: 12px;
            }
            & .subbalance {
                font-size: 10px;
            }
            & .balanceAmount {
                font-size: 14px;
            }
            & .warningCard {
                z-index: 1;
                &.addcase {
                    background-color: $theme1;
                }
            }
            & .warningImg {
                width: 40px;
                height: 40px;
            }
            & .winningAmount {
                color: lighten($theme1, 15);
            }
            & .withdrawAmount {
                margin-top: -28px;
                background-color: lighten($success, 5);
                border-radius: 0px 0px 1rem 1rem;
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
    }

    @include media-breakpoint-down(xxl) {
    }

    @include media-breakpoint-down(xl) {
    }

    @include media-breakpoint-down(lg) {
    }

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
    }
}

// ! **************** [ Wallet Page End ] ********************

// ****************** [  Transaction History Page ] **************
[data-page-name="transactionPage"] {
    @include media-breakpoint(basic) {
        background-color: $gray-200;
        & .mainCenterPart {
            & .transectionCard {
                & .card-body {
                    & .additionImag {
                        width: 18px;
                        height: 18px;
                        // border: 2px solid darken($success, 15);
                        border: 2px solid $success;
                        &.nagetiveImg {
                            border-color: $danger;
                        }
                    }
                    & .transactionBonus {
                        font-size: 12px;
                    }
                    & .transactionId {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
    }

    @include media-breakpoint-down(xxl) {
    }

    @include media-breakpoint-down(xl) {
    }

    @include media-breakpoint-down(lg) {
    }

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
    }
}

// ! **************** [ Transaction History Page End ] ********************

// ****************** [  Verify Your Account Page ] **************
[data-page-name="verifyAccountPage"] {
    @include media-breakpoint(basic) {
        background-color: $gray-200;
        & .mainCenterPart {
            & .verifyNav {
                box-shadow: 0px 0px 6px rgba($black, 0.1);
                & .navTabs {
                    & .nav-item {
                        & .nav-link {
                            font-size: 12px;
                            &.active {
                                color: darken($theme1, 5) !important;
                            }
                        }
                    }
                }
            }
            & .navContent {
                & .mobileCard {
                    box-shadow: 0px 0px 6px rgba($black, 0.1);
                    & .card-body {
                        & .mobileImg {
                            width: 20px;
                        }
                        & .verifyMobile {
                            font-size: 14px;
                            line-height: 100%;
                            &.verifyPanDetails {
                                color: $theme1;
                            }
                        }
                        & .mobileLabel,
                        & .otpBtn {
                            font-size: 12px;
                        }
                        & .form-control {
                            border-bottom: 2px solid $black !important;
                            font-size: 14px;
                        }
                        & .form-select {
                            font-size: 14px;
                        }
                        & .otpverfication {
                            font-size: 10px;
                        }
                    }
                }
                & .verifyPanCard {
                    & .idCard {
                        height: 50px;
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
    }

    @include media-breakpoint-down(xxl) {
    }

    @include media-breakpoint-down(xl) {
    }

    @include media-breakpoint-down(lg) {
    }

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
    }
}

// ! **************** [ Verify Your Account Page End ] ********************

[data-bs-theme="dark"] {
    & [data-page-name="signin"] {
        @include dark-media-breakpoint(basic) {
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }

        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  signin start  ]@@@@@@@@@@@@@@@@@@@@@@

// ?################### [ Profile Offcanvas ] #############
@include media-breakpoint(basic) {
    .profileOffcanvas {
        width: 360px !important;
        & .profileoffcanvasHeader {
            & .userprofilename {
                & .username, & .userMailAdd  {
                    font-size: 14px;
                }
            }
        }
        & .offcanvas-body {
            & .innerbody {
                & .linkBox {
                    & .tagicon {
                        width: 22px;
                        height: 22px;
                    }
                    & .linkContent {
                        font-size: 14px;
                        &.walletBalance {
                            color: lighten($theme1, 10);
                        }
                    }
                    transition: all ease-in-out 0.3s;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
        & .profileFooter {
            height: 114px;
            background-color: $theme1;
            & .contectText {
                font-size: 14px;
            }
            & .addlink {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    .modal-backdrop {
        &.fade {
            &.show {
                display: none;
            }
        }
    }
    .otpModal {
        background-color: rgba($black, 0.5);
        & .innerModal {
            & .modal-content {
                & .modal-body {
                    & .card {
                        & .card-body{
                            & .form-control, & .enterCode {
                                font-size: 14px;
                            }
                            & .form-control{
                                border-bottom: 2px solid $black !important;
                            }
                            & .otpBtn {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}
