@include media-breakpoint(basic) {
  .btnStyle1 {
    background: linear-gradient(180deg, $theme1 30%, lighten($theme1, 20) 110%);
  }
  .loginGoogleBtn{
    width: 32px;
    height: 32px;
  }
  .backBtn {
    width: 16px;
    height: 16px;
  }
  .customFontBtn{
    font-size: 12px;
  }
  .addCaseBtn {
    font-size: 14px;
    border: 1.6px solid $theme2;
  }
  .btnStyle2 {
    background-color: $theme1;
    transition: all ease-in-out 0.3s;
    font-size: 14px;
    &:hover{
      background-color: rgba($theme1, 0.9) !important;
    }
  }
  .btnSuccess {
    background-color: lighten($success, 10);
    border-radius: 8px;
    padding: 4px 16px;
    font-size: 14px;
  }
  .btnIcon {
    width: 40px;
  }
  .btnWarning {
    background-color: darken($warning, 10);
  .updateBtn {
    font-size: 14px;
    color: $theme1;
    transition: all 0.3s ease-in-out;
    &:hover{
      background-color: darken($white, 10);
      color: darken($theme1, 10);
    }
  }
}


// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) {
  
}
@include media-breakpoint-up(md) {
  
}
@include media-breakpoint-up(lg) {
  
}
@include media-breakpoint-up(xl) {
  
}
@include media-breakpoint-up(xxl) {
  
}