
.form{
    & .form-control, & .form-select {
        font-size: 14px;
        border: 1px solid $gray-500 !important;
        height: 40px !important;
        border-radius: 6px !important;
        &::placeholder {
            font-size: 14px;
            font-weight: 600;
        }
    }
    & .showPass{
        width: 16px;
        height: 16px;
        top: 12px;
        right: 12px;
        cursor: pointer;
        & img {
            filter: opacity(0.5);
        }
    }
}