
.form{
    & .form-control, & .form-select {
        font-size: 14px;
        border: 1px solid $gray-500 !important;
        height: 40px !important;
        border-radius: 6px !important;
        &::placeholder {
            font-size: 14px;
            font-weight: 600;
        }
    }
    & .showPass{
        width: 16px;
        height: 16px;
        top: 12px;
        right: 12px;
        cursor: pointer;
        & img {
            filter: opacity(0.5);
        }
    }
    & .selectlabel {
        font-size: 14px;
    }
    & .form-check {
        & .form-check-input {
            background-image: none;
            position: relative;
            background-color: unset;
            border: 1.6px solid $black;
            width: 18px;
            height: 18px;
            &::before{
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 50%;
                position: absolute;
                inset: 0;
                margin: auto;
            }
            &:checked{
                &::before{
                    background-color: $black;
                }
            }
        }
    }
    &.bgForm {
        & .form-control, & .form-select {
            background-color: $gray-300;
            color: $black;
        }
    }
    & .changepassword {
        font-size: 14px;
        color: $theme1;
    }
}