
// ? @@@@@@@@@@@@@@@@@@@@@@[  Globley start  ]@@@@@@@@@@@@@@@@@@@@@@

    @include media-breakpoint(basic) {
        .footerLink {
            font-size: 14px;
            color: $gray-600;
            font-weight: 700;
            & a {
                color: $theme2;
            }
        }
        .header {
            background-color: $theme1;
            & .title {
                font-size: 14px;
            }
        }
        
        // .select2{
        //     &.select2-container {
        //         & .selection{
        //             & .select2-selection {
        //                 border: 1px solid $gray-500 !important;
        //                 height: 40px !important;
        //                 padding: 8px 12px !important;
        //                 border-radius: 6px;
        //                 &.select2-selection--single {
        //                     & .select2-selection__rendered{
        //                         padding: 0;
        //                         line-height: normal;
        //                         font-size: 14px;
        //                     }
        //                     & .select2-selection__arrow {
        //                         height: 100%;
        //                         position: absolute;
        //                         top: 0;
        //                         right: 4px;
        //                         width: 20px;
        //                         & b{

        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
        // .select2-container {
        //     &.select2-container--open{
        //         & .select2-dropdown {
        //             border-radius: 6px;
        //             border: none !important;
        //             box-shadow: 0px 1px 10px $gray-300;
        //             overflow: hidden;
        //             & .select2-search{
        //                 &.select2-search--dropdown{
        //                     padding: 8px;
        //                     & .select2-search__field{
        //                         border-radius: 6px;
        //                         border-color: $gray-500 !important;
        //                         height: 28px;
        //                         padding: 8px;
        //                         font-size: 14px;
        //                         outline: none;
        //                         transition: ease-in-out .3s;
        //                         &:focus {
        //                             border-color: $theme1 !important;
        //                         }
        //                     }
        //                 }
        //             }
        //             & .select2-results{
        //                 & .select2-results__options {
        //                     font-size: 14px;
        //                     font-weight: 600;
        //                     overflow: hidden auto;
        //                     height: 100%;
        //                     max-height: 200px;
        //                     & .select2-results__option {
        //                         &.select2-results__option--selectable {
        //                             padding: 6px 8px;
        //                             &:hover {
        //                                 background-color: lighten($theme1, 42);
        //                                 color: $theme1;
        //                             }
        //                             &.select2-results__option--selected{
        //                                 background-color: $theme1;
        //                                 color: $white;
        //                             }
        //                             &.select2-results__option--highlighted {
        //                             }
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }

        // .flatpickr-calendar {
        //     border-radius: 15px;
        //     &.arrowTop {
        //         &:before, &:after {
        //             border-bottom-color: $theme1;
        //         }
        //     }
        //     & .flatpickr-months {
        //         position: relative;
        //         background-color: $theme1;
        //         border-radius: 15px 15px 0 0;
        //         padding: 4px 10px;
        //         align-items: center;
        //         display: flex;
        //         justify-content: center;
        //         gap: 10px;
        //         & .flatpickr-prev-month {
        //             align-items: center;
        //             display: flex;
        //             padding: 0;
        //             width: 20px;
        //             height: 20px;
        //             justify-content: center;
        //             background: lighten($theme1, 20);
        //             border-radius: 50%;
        //             position: unset;
        //             & svg {
        //                 width: 10px;
        //                 height: 10px;
        //                 fill: $white !important;
        //             }
        //             &:hover {
        //                 background: lighten($theme1, 10);
        //             }
        //         }
        //         & .flatpickr-next-month {
        //             align-items: center;
        //             display: flex;
        //             padding: 0;
        //             width: 20px;
        //             height: 20px;
        //             justify-content: center;
        //             background: lighten($theme1, 20);
        //             border-radius: 50%;
        //             position: unset;
        //             & svg {
        //                 width: 10px;
        //                 height: 10px;
        //                 fill: $white !important;
        //             }
        //             &:hover {
        //                 background: lighten($theme1, 10);
        //             }
        //         }
        //         & .flatpickr-month {
        //             & .flatpickr-current-month {
        //                 padding: 0;
        //                 align-items: center;
        //                 display: flex;
        //                 justify-content: center;
        //                 & .select2-container {
        //                     & .selection {
        //                         & .select2-selection {
        //                             background-color: transparent !important;
        //                             border: 0 !important;
        //                             padding: 0 !important;
        //                             height: unset !important;
        //                             & .select2-selection__rendered{
        //                                 color: $white;
        //                             }
        //                         }
        //                     }
        //                 }
        //                 & .flatpickr-monthDropdown-months {
        //                     font-size: 14px;
        //                     color: $white;
        //                     &:hover {
        //                         background-color: transparent;
        //                     }
        //                     & .flatpickr-monthDropdown-month {
        //                         background: lighten($theme1, 10);
        //                         overflow: hidden;
        //                     }
        //                 }   
        //             }
        //             & .numInputWrapper {
        //                 margin-left: 8px;
        //                 font-size: 14px;
        //                 color: $white;
        //                 & .arrowUp {
        //                     border: none;
        //                     margin-right: -8px;
        //                     &:after {
        //                         border-bottom-color: rgb($white, 90%);
        //                     }
        //                     &:hover {
        //                         background-color: transparent;
        //                     }
        //                 }
        //                 & .arrowDown {
        //                     border: none;
        //                     margin-right: -8px;
        //                     &:after {
        //                         border-top-color: rgb($white, 90%);
        //                     }
        //                     &:hover {
        //                         background-color: transparent;
        //                     }
        //                 }
        //                 &:hover {
        //                     background-color: transparent;
        //                 }
        //             }
        //         }
        //     }
        //     & .flatpickr-innerContainer {
        //         & .flatpickr-rContainer {
        //             & .flatpickr-weekdays {
        //                 & .flatpickr-weekdaycontainer {
        //                     & .flatpickr-weekday {
        //                         color: $theme1;
        //                     }
        //                 }
        //             }
        //             & .flatpickr-days {
        //                 & .dayContainer {
        //                     & .flatpickr-day {
        //                         &.today{
        //                             background-color: $theme1 !important;
        //                             color: $white;
        //                             border: none;
        //                         }
        //                         &.selected{
        //                             background-color: transparent;
        //                             border: 1px solid $theme1;
        //                             color: $theme1;
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
        
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}

    [data-bs-theme=dark] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }


        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }

// ! @@@@@@@@@@@@@@@@@@@@@@[  Globley end  ]@@@@@@@@@@@@@@@@@@@@@@



// ? @@@@@@@@@@@@@@@@@@@@@@[  login start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=loginPage] {
    @include media-breakpoint(basic) {
        & .mainCenterPart {
            & .topPart{
                background-color: $theme1;
                height: 40%;
                & .imgOuter{
                    width: 160px;
                }
                & .title {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            & .formOuter {
                border-radius: 26px;
                margin-top: -112px;
                & form {
                    &.form {
                        & .tagLine{
                            font-size: 10px;
                        }
                        & .dividarTxt {
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}

[data-bs-theme=dark] {
    & [data-page-name=login] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  login end  ]@@@@@@@@@@@@@@@@@@@@@@


// ? @@@@@@@@@@@@@@@@@@@@@@[  registration start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=registrationPage] {
    @include media-breakpoint(basic) {
        & .mainCenterPart {
            & .topPart{
            background-color: $theme1;
                height: 40%;
                & .imgOuter{
                    width: 160px;
                }
                & .title {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            & .formOuter {
                border-radius: 26px;
                margin-top: -112px;
                & form {
                    &.form {
                        & .tagLine{
                            font-size: 10px;
                        }
                        & .dividarTxt {
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}

[data-bs-theme=dark] {
    & [data-page-name=registrationPage] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  registration end  ]@@@@@@@@@@@@@@@@@@@@@@


// ? @@@@@@@@@@@@@@@@@@@@@@[  otp page start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=otpVerifyPage] {
    @include media-breakpoint(basic) {
        & .mainCenterPart {
            & .topPart{
            background-color: $theme1;
                height: 40%;
                & .imgOuter{
                    width: 160px;
                }
                & .title {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            & .formOuter {
                border-radius: 26px;
                margin-top: -112px;
                & form {
                    &.form {
                        & .otp {
                            display:inline-block;
                            width:40px;
                            height:40px;
                            text-align:center;
                        }
                        & .tagLine, & .resendOtp{
                            font-size: 10px;
                        }
                        & .mobileNumber, & .bottomTitle {
                            font-size: 14px;
                        }
                        & .dividarTxt {
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}

[data-bs-theme=dark] {
    & [data-page-name=otpVerifyPage] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  otp page end  ]@@@@@@@@@@@@@@@@@@@@@@


// ? @@@@@@@@@@@@@@@@@@@@@@[  create profile start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=createProfilePage] {
    @include media-breakpoint(basic) {
        & .mainCenterPart {
            & .topPart{
            background-color: $theme1;
                height: 40%;
                & .imgOuter{
                    width: 160px;
                }
                & .title {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            & .formOuter {
                border-radius: 26px;
                margin-top: -112px;
                & form {
                    &.form {
                        & .tagLine{
                            font-size: 10px;
                        }
                        & .dividarTxt {
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}

[data-bs-theme=dark] {
    & [data-page-name=createProfilePage] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  create profile end  ]@@@@@@@@@@@@@@@@@@@@@@


// ? @@@@@@@@@@@@@@@@@@@@@@[  my matches start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=myMatchesPage] {
    @include media-breakpoint(basic) {
        & .cricketheader {
            box-shadow: 0px 0px 6px rgba($black, 0.1) !important;
            z-index: 1;
            & .navtab {
                & .nav-item {
                    & .nav-link {
                        font-size: 12px;
                        font-weight: 600;
                        transition: all 0.3s;
                        border-bottom: 2px solid transparent;
                        & .gameImg {
                            height: 20px;
                            & img {
                                filter: grayscale(1);
                                transition: all 0.3s;
                            }
                        }
                        & .gamesheading {
                            line-height: 100%;
                        }
                        &.active{
                            background: transparent;
                            border-color:  $theme2;
                            color: $theme2 !important;
                            & .gameImg {
                                & img {
                                    filter: grayscale(0);
                                }
                            }
                        }
                        &:hover{
                            color: $theme2 !important;
                            & .gameImg {
                                & img {
                                    filter: grayscale(0);
                                }
                            }
                        }
                    }
                }
            }
        }
        & .tabContents {
            & .matchesCard {
                box-shadow: 0px 0px 6px rgba($black, 0.08);
                & .card-body {
                    & .teamHeadline {
                        & .matchteams, & .notificationOut {
                            font-size: 11px;
                        }
                        & .notificationOut {
                            color: lighten($info, 10);
                        }
                        & .lineupsImg {
                            width: 18px;
                        }
                    }
                    & .innerBody {
                        & .leftSideTeams {
                            & .teamLogo {
                                &::before{
                                    left: -50%;
                                    transform: translate(0%, -50%);
                                    // background: rgba($warning, 0.3);
                                }
                            }
                        }
                        & .rightSideTeams {
                            & .teamLogo {
                                &::before{
                                    right: -50%;
                                    transform: translate(0%, -50%);
                                    // background: rgba($success, 0.3);
                                    
                                }
                            }
                        }
                        & .numberOffContest{
                            font-size: 10px;
                            padding-top: 3px;
                            padding-bottom: 3px;
                            background-color: lighten($theme2, 48);
                        }
                        &.firstMatchBody {
                            & .leftSideTeams {
                                & .teamLogo {
                                    &::before{
                                        background: rgba($warning, 0.3);
                                    }
                                }
                            }
                            & .rightSideTeams {
                                & .teamLogo {
                                    &::before{
                                        background: rgba($success, 0.3);
                                        
                                    }
                                }
                            }
                        }
                        &.secondMatchBody {
                            & .leftSideTeams {
                                & .teamLogo {
                                    &::before{
                                        background: rgba($success, 0.3);
                                    }
                                }
                            }
                            & .rightSideTeams {
                                & .teamLogo {
                                    &::before{
                                        background: rgba($info, 0.4);
                                    }
                                }
                            }
                        }
                        &.threedMatchBody {
                            & .leftSideTeams {
                                & .teamLogo {
                                    &::before{
                                        background: rgba($info, 0.4);
                                    }
                                }
                            }
                            & .rightSideTeams {
                                & .teamLogo {
                                    &::before{
                                        background: rgba($warning, 0.3);
                                    }
                                }
                            }
                        }
                        & .firstTeamsName {
                            font-size: 12px;
                        }
                        & .team {
                            & .teamLogo {
                                width: 40px;
                                height: 40px;
                                z-index: 0;
                                &::before{
                                    content: "";
                                    height: 20px;
                                    width: 100%;
                                    position: absolute;
                                    top: 50%;
                                    z-index: -1;
                                }
                            }
                            & .teamName {
                                font-size: 10px;
                            }
                        }
                        & .matchTimer {
                            & .pichTime {
                                font-size: 10px;
                                color: $theme2;
                            }
                        }
                        & .imgOuter {
                            width: 20px;
                        }
                    }
                }
            }
            & .emptyState {
                & .emptyStateOuter{
                    & .txt {
                        font-size: 12px;
                    }
                }
                & .imgOuter{
                    width: 120px;
                    margin: auto;
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}

[data-bs-theme=dark] {
    & [data-page-name=myMatchesPage] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  my matches end  ]@@@@@@@@@@@@@@@@@@@@@@
